form input {
    color: #384047;
    background-color: #e8eeef;
    border: none;
    border-radius: 50px;
    padding: 1em;
    margin-bottom: 1.2em;
    width: 100%;
  }
form input:focus {
    outline: none;
  }

.search{
    display: column;
    align-items: center;
    margin: 10%;

}

.buscador{
    text-align: center;
    flex-direction: column;

}

.icons_buscador{
    color: #ffffff;
    font-size: 12px;
    margin-left: 10px;
    }