.container_video{
  display: flex;
  flex-wrap: row;
  flex-direction: column;
  margin: 5% 5% 0% 5%;
  justify-content: flex-start;
}

#mainContent {
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  #videoSizer {
    flex: 2;
    width: 100%;
  }
  #videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  #videoList {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #dddddd;
    margin: 0 5px;
    align-items: center;
    border-radius: 10px;
    overflow-y: scroll;
    height: 530px;
    
  }
  .a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    background: #ffffff;
    margin: 4px;
    width: 100%;
    transition: .4s;
    border: 1px white solid;
    border-radius: 10px;
  }
  .a:hover, a:active {
    color: #fff;
    background: gray;
    border: 1px black solid;
    text-shadow: .5px .5px black;
  }
  input:checked ~ a {
    color: #fff;
    background: #cccccc;
    border: 1px black solid;
    text-shadow: .5px .5px black;
  }

.tema_contenido_card{
	color: #fff;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
  }
  

  @media screen and (max-width: 900px) {
    #mainContent {
      flex-direction: column;
    }
    #videoList {
      padding-top: 10px;
      margin: 10px 0;
    }

  }

